<!doctype html>
    <html lang="{{ site.lang }}" id="{% if templateName %}template-{{ templateName }}{% else %}template-base{% endif %}" class="base">
        <head>
        <script defer data-domain="hazardpodcast.com" src="https://plausible.io/js/plausible.js"></script>
        {% if templateName %}
            <!-- Sub Template: {{ templateName }} -->
        {% else %}
            {% set templateName = "base" %}
        {% endif %}
        {% block metahead %}
            <meta charset="utf-8" />
            <meta http-equiv="X-UA-Compatible" content="IE=edge" />
            <title>{{ title }}</title>
            <!-- <link rel="stylesheet" href="{{site.site_url}}/assets/css/style.css?v={{ site.github.build_revision}}" /> -->
            {% sassFile false, "?v=" + site.github.build_revision %}
            {% if templateName %}
                <!-- <link rel="stylesheet" href="{{site.site_url}}/assets/css/template-{{ templateName }}.css?v={{ site.github.build_revision}}" /> -->
                {% sassFile templateName, "?v=" + site.github.build_revision %}
            {% endif %}
            <!-- Build Revision: {{ site.github.build_revision }} & Sha: {{ site.github.build_sha }} -->
            <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
            <!--[if lt IE 9]>
                <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
            <![endif]-->

            <link rel="apple-touch-icon" sizes="180x180" href="/assets/apple-touch-icon.png">
            <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon-32x32.png">
            <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon-16x16.png">
            <link rel="manifest" href="/assets/site.webmanifest">
            <link rel="mask-icon" href="/assets/safari-pinned-tab.svg" color="#5bbad5">
            <meta name="msapplication-TileColor" content="#da532c">
            <meta name="theme-color" content="#ffffff">

        {% endblock %}
        {% block socialhead %}

        {% endblock %}
        {% block stylehead %}{% endblock %}
        </head>
        <body {% block bodytags %}{% endblock %}>
            <div class="wrapper">
                {% include "partials/top-nav.njk" %}
                <header>
                    {% block header %}
                        <h1 class="header">
                            {{ title }}
                        </h1>
                    {% endblock %}
                    {% block header_bottom %}
                    {% endblock %}
                </header>
                <main>
                    {% block precontent %}{% endblock %}
                    <section id="maincontent" class="maincontent">
                    {% block maincontent %}
                        {{ content | safe }}
                    {% endblock %}
                    </section>
                    <section id="postcontent">
                    {% block postcontent %}
                    {% endblock %}
                    </section>
                </main>
                <footer>
                    {% block prefooter %}{% endblock %}
                    {% block footer %}
                        <p>
                            <small>Hosted on <a href="https://pages.github.com" target="_blank">GitHub Pages</a>.</small>
                        </p>
                    {% endblock %}
                    {% block postfooter %}{% endblock %}
                </footer>
            </div>
            <!--[if !IE]><script>fixScale(document);</script><![endif]-->
        </body>
    </html>
