{
    "@type": "Person",
    "name": "{{site.author}}",
    "description": "Jordan Gass-Pooré (she/her) is an award-winning podcast producer and investigative journalist with more than a decade of journalism experience. Presently, Jordan is the creator, producer, and host of “Hazard NJ,” a limited-series podcast about the impacts of climate change on hazardous Superfund sites in New Jersey.",
}