{% extends "default.njk" %}

{% set templateName = "post" %}

{% block header %}
    <div class="title-plate">
        <div class="title-photo">
            {% image "./src/img/"+featuredImage, featuredImageAlt, "260px", 260 %}
        </div>
        <div class="title-text">
            <h1 class="header">
                {{title}}
            </h1>
            <p class="description">{{description}}</p>
        </div>
    </div>
    <div id="header__social-icons">
    </div>
{% endblock %}