/* filter colors generated via https://codepen.io/sosuke/pen/Pjoqqp */
.amazon
    filter: invert(62%) sepia(10%) saturate(6105%) hue-rotate(359deg) brightness(104%) contrast(101%)
h1
    font-size: 60px
    line-height: 16px
    font-family: "PhosphatePro-Solid", serif
    font-weight: normal
