<style>
@font-face {
  font-family: "PhosphatePro-Solid";
  src: url('{{site.site_url}}/assets/fonts/PhosphateProSolid/font.woff2') format('woff2'), url('{{site.site_url}}/assets/fonts/PhosphateProSolid/font.woff') format('woff');
}
@font-face {
    font-family: 'Viafont';
    src: url('{{site.site_url}}/assets/fonts/viafont/Viafont.woff2') format('woff2'),
        url('{{site.site_url}}/assets/fonts/viafont/Viafont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
</style>