<style>
@font-face {
  font-family: "PhosphatePro-Solid";
  src: url('{{site.site_url}}/assets/fonts/PhosphateProSolid/font.woff2') format('woff2'), url('{{site.site_url}}/assets/fonts/PhosphateProSolid/font.woff') format('woff');
}
</style>