                <footer>
                    {% block prefooter %}{% endblock %}
                    {% block footer %}
                        <p>
                            <small>Hosted on <a href="https://pages.github.com" target="_blank">GitHub Pages</a>.</small> | <small><a href="{{ site.site_url }}/contact">Contact Us</a></small>
                        </p>
                    {% endblock %}
                    {% block postfooter %}{% endblock %}
                </footer>