<div id="season-banner">
    <ul>
        <li><a data-href-internal="{{ site.site_url }}/seasons/season-one" href="https://www.njspotlightnews.org/podcast/" target="_blank">Season One: New Jersey</a></li>
        <li><a data-href-internal="{{ site.site_url }}/seasons/season-two" href="https://projects.thecity.nyc/hazard-nyc/" target="_blank">Season Two: New York City</a></li>
        <li><a data-href-internal="{{ site.site_url }}/seasons/season-three" href="https://www.njspotlightnews.org/podcasts/hazard-nj/" target="_blank">Season Three: New Jersey</a></li>
        <li>Coming to your town next?</li>
    </ul>
</div>