<nav id="top-nav">
    <div id="top-nav-inner">
        <div id="nav-logo">
            {% smallimage "./src/img/Hazard-Logo_No-Words.png", "Hazard Logo", "50vw" %}
        </div>
        <div id="nav-menu-items">
            <ul>
                <li class="home">
                    Hazard
                </li>
                <li>
                    Episodes
                </li>
                <li>
                    RSS
                </li>
                <li>
                    Apple
                </li>
                <li>
                    Spotify
                </li>
                <li>
                    Amazon
                </li>
            </ul>
        </div>
    </div>
</nav>